<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
  <form method="POST" action="/team">
    <ul>Team Name: <input type="text" name="name"></ul>
    <ul>Coach: <input type="text" name="coach"></ul>
    <ul>Point Guard: <input type="text" name="pg"></ul>
    <ul>Shooting Guard: <input type="text" name="sg"></ul>
    <ul>Small Forward: <input type="text" name="sf"></ul>
    <ul>Power Forward: <input type="text" name="pf"></ul>
    <ul>Center: <input type="text" name="c"></ul>

    <input type="submit" id="Submit" />
  </form>

 </head>
 <body>
 </body>
</html>
